body
{
    font: Arial, sans-serif;
    text-align: center;   
    
    background-image:url('../images/pattern.png');
    background-repeat:repeat;
    margin:0px; padding:0px;
    
    -webkit-user-select: none;
}

#top, #bottom, #left, #right {
	background: #a99752;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 6px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 6px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; 
        }
.header
{
    width:100%;
    display: table;
}

.header_left
{
    padding-top: 0.5em;
    width:25%;
    display: table-cell;
    float: left;
}

.header_center
{
    width:50%;
    vertical-align: top;
    
    display: table-cell;
 }

#menu_button
{
    margin-left:15%;
    width:300%;
    background: url('../images/menu.png') no-repeat;
    background-size:contain;
}

#header_center_true
{
    float:left;
    background: url('../images/dogru.png') no-repeat;
    background-size:contain;
    width:45%;
}

#header_center_false
{
    float:right;
    background: url('../images/yanlis.png') no-repeat;
    background-size:contain;
    width:45%;
}

#header_center_true_text
{
    display: block;
    margin-top: 47%;
    color: #ffffff;
    font-size: 1.5em;
}

#header_center_false_text
{
    display: block;
    margin-top: 47%;
    color: #ffffff;
}

#skip_button
{
    float:right;
    width:90%;
    background: url('../images/atla.png') no-repeat;
    background-size:contain;
}


.auto_height
{
    
}

.header_right
{
    width:25%;
    padding-top: 0.5em;
 
    display: table-cell;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}


.main_container
{

}


.progress_bar_holder
{
    position:relative;
    display:table;
    
    margin: 0 auto 0 auto;
    width: 85%;
}

#progress_bar_left
{
    position:absolute;
    background: url('../images/sure-barinin-uc-kismi.png') no-repeat;
    background-size: cover;
    height:100%;
    float:left;
    z-index: 200;
}

#progress_bar_value
{
    color: #ffffff;
    display: block;
    margin-top: 18%;
}

#progress_bar_border
{
    border: 1px dotted #050708;
    height:44%;
    width:90%;
    background-color:#ccebf2;
    position: absolute;
    left: 7%;
    top: 31%; 
    z-index: 190;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

#progress_bar
{
    height:80%;
    width:98%;    
    margin: 0 auto;
    border: 1px solid #030304;
    background-color: #5e8e9d;
    float: left; 
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}


.question_text_border
{
    width: 80%;
    margin: 3% auto 0 auto;
    background-color:#e8dcc0;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    
    border: 3px dotted #615524;
}

.question_text_area
{
    position:relative;
    border: 3px solid black;
    width: 100%;
    display: table;
}

#question_number
{
    margin-top:5%;
    position: absolute;
    background-image:url('../images/soru-sayi-sikki.png');
    background-size:contain;
    height:40%;
    display:table;
}

#question_number_text
{
    display:table-cell;
    vertical-align:middle;
}

.question_text_inner
{
    display: table-cell;
    vertical-align: middle;
}

.option_buttons
{
    width: 80%;
    margin: 5% auto 0 auto;
}
.option_button_border
{
    position:relative;
    display: block;
    width: 100%;
    margin: 8% 0;
    height: 16%;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    
    border: 2px dotted #a6957b;
}
.option_button
{
    width:100%;
    height:100%;
    font-size: 1.2em;
    
    background: #c9b792; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9b792 0%, #c9b792 50%, #beaa84 50%, #beaa84 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9b792), color-stop(50%,#c9b792), color-stop(50%,#beaa84), color-stop(100%,#beaa84)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c9b792 0%,#c9b792 50%,#beaa84 50%,#beaa84 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c9b792 0%,#c9b792 50%,#beaa84 50%,#beaa84 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c9b792 0%,#c9b792 50%,#beaa84 50%,#beaa84 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c9b792 0%,#c9b792 50%,#beaa84 50%,#beaa84 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9b792', endColorstr='#beaa84',GradientType=0 ); /* IE6-9 */
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    color: #ffffff;
    border-width:3px;
    border-style:solid;
    
}

.option_button_default
{
    border-color:#3a3818;
}

.option_button_selected
{
    border-color:#691b49;
    -webkit-box-shadow: 1px -1px 5px rgba(105, 27, 73, 1); 
    -moz-box-shadow:    1px -1px 5px rgba(105, 27, 73, 1);
    box-shadow:         1px -1px 5px rgba(105, 27, 73, 1);
}

.option_button_true
{
    border-color:#326933;
}
 
.option_button_false
{
    border-color:#7a1219;
}

.option_button_image
{
    position:absolute; 
    width:100%;
    height:84%;
    
    left: 0px;
    top:8%;
    text-align:left;
    background-size:contain;
    display:table;
    
    border-radius: 50%;
    border: 3px solid #3a3818;
    
    background-color: #c9b792;
}

.option-button-selection
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.option_button_selection_circle
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.option_button_true_image
{
    background:url('../images/dogru-cevap-sikki.png') no-repeat;
}

.option_button_false_image
{
    background:url('../images/yanlis-cevap-sikki.png') no-repeat;
}

.score_container
{
    margin: 10% auto 0;
    padding: 0;
    width: 90%;
    border: 1px solid lime;
}

.score_header
{
    border: 1px solid red;
    height: 100%;
}

.score_content
{
    background: url('../images/skor_skor.png') no-repeat;
    background-size:contain;
    width:95%;
    margin: 0 auto;
    border: 1px solid red;
}

.score_content_border
{
    width: 90%;
    margin: 0 auto;
    background-color:#e8dcc0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px dotted #615524;
}


.score_content_area 
{
    border: 3px solid black;
    width: 100%;
    height: 100%;
}

.score_center_img{
}

.score_content_images{
}
