
@font-face {
	font-family: kelimematik;
	src: url('../images/kelimematik.otf');
}

body
{
    text-align: center;   
    font-family: 'kelimematik';
    color:Black;

    
    background-image:url('../images/pattern.png');
    background-repeat:repeat;
    margin:0px; padding:0px;
    
    -webkit-user-select: none;
}

#top, #bottom, #left, #right {
	background: #a99752;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 6px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 6px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; 
        }
.header
{
    margin: 0 auto;
    width:85%;
}

.header_left
{
    width:30%;
    float: left;
}

.header_center
{
    display:inline-block;
    width:30%;
 }

.header_right
{
    float:right;
    width:30%;
}

#skip_button
{
    background-color: #3f2620;
    margin: 10% auto 0;
    border: 1px dashed black;
    -border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#skip_button_inner
{
    width: 85%;
    height: 85%;
    border: 1px solid black;
    -border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: relative;
    top: 8%;
    margin: 0 auto 0;
    background-color: #caa28e;
    display: table;
}

#skip_button_text
{
    display: table-cell;
    vertical-align: middle;
    font-family:kelimematik;
    color:#000;
    text-shadow:
    -1px -1px 0 #e8dcc0,
    1px -1px 0 #e8dcc0,
    -1px 1px 0 #e8dcc0,
    1px 1px 0 #e8dcc0; 
}

#header_center_true
{
    background: url('../images/dogru.png') no-repeat;
}

#header_center_false
{
    background: url('../images/yanlis.png') no-repeat;
}

.header_center_img
{
    border: 1px solid transparent;
    background-size:contain;
}

#header_center_true_text, #header_center_false_text
{
    display: block;
    margin-top: 42%;
    
    text-shadow:
    -1px -1px 0 #e2dd93,
    1px -1px 0 #e2dd93,
    -1px 1px 0 #e2dd93,
    1px 1px 0 #e2dd93;  
}

.progress_bar_holder
{
    position:relative;
    display:table;
    
    margin: 0 auto 0 auto;
    width: 85%;
}

#progress_bar_left
{
    position:absolute;
    background: url('../images/sure-barinin-uc-kismi.png') no-repeat;
    background-size: cover;
    height:100%;
    float:left;
    z-index: 200;
}

#progress_bar_value
{
    display: block;
    margin-top: 22%;
    
    text-shadow:
    -1px -1px 0 #b9e4f5,
    1px -1px 0 #b9e4f5,
    -1px 1px 0 #b9e4f5,
    1px 1px 0 #b9e4f5;  
}

#progress_bar_border
{
    border: 1px dotted #050708;
    height:44%;
    width:90%;
    background-color:#ccebf2;
    position: absolute;
    left: 7%;
    top: 31%; 
    z-index: 190;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

#progress_bar
{
    height:80%;
    width:98%;    
    margin: 0 auto;
    border: 1px solid #030304;
    background-color: #5e8e9d;
    float: left; 
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.question_text_border
{
    width: 80%;
    margin: 3% auto 0 auto;
    background-color:#e8dcc0;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    
    border: 3px dotted #615524;
}

.question_text_area
{
    position:relative;
    border: 3px solid black;
    width: 100%;
    display: table;
}

.question_number_border{
    border: 3px dotted #615524;
    width:15%;
    height: 40%;
    
}

#question_number
{
    height:40%;
    border: 3px solid #393717;
    display:table;
    text-align:center;
    vertical-align:middle;
    position: absolute;
    background: #c0bd92; /* Old browsers */
    background: -moz-linear-gradient(top,  #c0bd92 0%, #c0bd92 50%, #a69d70 50%, #a69d70 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0bd92), color-stop(50%,#c0bd92), color-stop(50%,#a69d70), color-stop(100%,#a69d70)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c0bd92 0%,#c0bd92 50%,#a69d70 50%,#a69d70 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c0bd92 0%,#c0bd92 50%,#a69d70 50%,#a69d70 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c0bd92 0%,#c0bd92 50%,#a69d70 50%,#a69d70 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c0bd92 0%,#c0bd92 50%,#a69d70 50%,#a69d70 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0bd92', endColorstr='#a69d70',GradientType=0 ); /* IE6-9 */
}

#question_number_text
{
    display:table-cell;
    vertical-align:middle;
}

.question_text_inner
{
    display: table-cell;
    vertical-align: middle;
}

.option_buttons
{
    width: 95%;
    margin: 5% auto 0 10%;
    
}
.option_button_border
{
    position:relative;
    display: block;
    width: 100%;
    margin-top: 3%;
    height: 19%;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 7%;
    border: 2px dotted #a6957b;
}
.option_button
{
    width:100%;
    height:100%;
    background: #c9b792; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9b792 0%, #c9b792 50%, #beaa84 50%, #beaa84 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9b792), color-stop(50%,#c9b792), color-stop(50%,#beaa84), color-stop(100%,#beaa84)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c9b792 0%,#c9b792 50%,#beaa84 50%,#beaa84 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c9b792 0%,#c9b792 50%,#beaa84 50%,#beaa84 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c9b792 0%,#c9b792 50%,#beaa84 50%,#beaa84 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c9b792 0%,#c9b792 50%,#beaa84 50%,#beaa84 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9b792', endColorstr='#beaa84',GradientType=0 ); /* IE6-9 */
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    border-width:4px;
    border-style:solid;
    
    font-family:kelimematik;
    color:#000;
    text-shadow:
    -1px -1px 0 #e8dcc0,
    1px -1px 0 #e8dcc0,
    -1px 1px 0 #e8dcc0,
    1px 1px 0 #e8dcc0;  
}

.option_button_default
{
    border-color:#393717;
}

.option_button_selected
{
    border-color:#691b49;
}

.option_button_true
{
    border-color:#326933;
}
 
.option_button_false
{
    border-color:#7b1219;
}

.option_button_image
{
    position:absolute; 
    width:100%;
    height:84%;
    left: -8%;
    top: 10%;
    border: 3px solid transparent;

    background-color: #c9b792;
    display:table;
}

.option-button-image-common
{
    height:100%;
    width:100%;
    border: 3px solid #393717;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
.option-button-image-default
{

    background: #c0bd92; /* Old browsers */
    background: -moz-linear-gradient(top,  #c0bd92 0%, #c0bd92 50%, #a69d70 50%, #a69d70 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0bd92), color-stop(50%,#c0bd92), color-stop(50%,#a69d70), color-stop(100%,#a69d70)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c0bd92 0%,#c0bd92 50%,#a69d70 50%,#a69d70 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c0bd92 0%,#c0bd92 50%,#a69d70 50%,#a69d70 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c0bd92 0%,#c0bd92 50%,#a69d70 50%,#a69d70 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c0bd92 0%,#c0bd92 50%,#a69d70 50%,#a69d70 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0bd92', endColorstr='#a69d70',GradientType=0 ); /* IE6-9 */
    
}

.option-button-image-selected
{
    background: #a13895; /* Old browsers */
    background: -moz-linear-gradient(top,  #a13895 0%, #a13895 50%, #8c2f73 50%, #8c2f73 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a13895), color-stop(50%,#a13895), color-stop(50%,#8c2f73), color-stop(100%,#8c2f73)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a13895 0%,#a13895 50%,#8c2f73 50%,#8c2f73 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a13895 0%,#a13895 50%,#8c2f73 50%,#8c2f73 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a13895 0%,#a13895 50%,#8c2f73 50%,#8c2f73 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a13895 0%,#a13895 50%,#8c2f73 50%,#8c2f73 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a13895', endColorstr='#8c2f73',GradientType=0 ); /* IE6-9 */
}
.option-button-image-true
{
    background: #1c9847; /* Old browsers */
    background: -moz-linear-gradient(top,  #1c9847 0%, #1c9847 50%, #198239 50%, #198239 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c9847), color-stop(50%,#1c9847), color-stop(50%,#198239), color-stop(100%,#198239)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1c9847 0%,#1c9847 50%,#198239 50%,#198239 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1c9847 0%,#1c9847 50%,#198239 50%,#198239 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1c9847 0%,#1c9847 50%,#198239 50%,#198239 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1c9847 0%,#1c9847 50%,#198239 50%,#198239 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c9847', endColorstr='#198239',GradientType=0 ); /* IE6-9 */
}
.option-button-image-false
{
    background: #bd2626; /* Old browsers */
    background: -moz-linear-gradient(top,  #bd2626 0%, #bd2626 50%, #a8201e 50%, #a8201e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd2626), color-stop(50%,#bd2626), color-stop(50%,#a8201e), color-stop(100%,#a8201e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bd2626 0%,#bd2626 50%,#a8201e 50%,#a8201e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bd2626 0%,#bd2626 50%,#a8201e 50%,#a8201e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bd2626 0%,#bd2626 50%,#a8201e 50%,#a8201e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bd2626 0%,#bd2626 50%,#a8201e 50%,#a8201e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd2626', endColorstr='#a8201e',GradientType=0 ); /* IE6-9 */
}

.option-button-text
{    
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

#option-button-a
{
    background-image:url('../images/a.png');
}

#option-button-b
{
    background-image:url('../images/b.png');
}

#option-button-c
{
    background-image:url('../images/c.png');
}

#option-button-d
{
    background-image:url('../images/d.png');
}

.score_container
{
    margin: 10% auto 0;
    padding: 0;
    width: 90%;
}

.score_header
{
    height: 100%;
}

.score_content
{
    background: url('../images/skor_skor.png') no-repeat;
    background-size:contain;
    height:60%;
    margin: 0 auto;
}

.score_content_border
{
    width: 94%;
    margin: 0 auto;
    background-color:#e8dcc0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px dotted #615524;
}


.score_content_area 
{
    background-color: #ad9e7f;
    border: 3px solid black;
    width: 95%;
    height: 95%;
    margin: 0 auto;
    margin-top: 2%;
}


.score_content_images
{
    width:90%;
    margin: 0 auto;
}

#score_time
{
    float:left;
    background: url('../images/skor_sure.png') no-repeat;
    background-size:contain;
    width:28%;
}

#score_true
{
    display: inline-block;
    margin:0 auto;
    background: url('../images/skor_dogru.png') no-repeat;
    background-size:contain;
    width:28%;
}

#score_false
{
    float:right;
    background: url('../images/skor_yanlis.png') no-repeat;
    background-size:contain;
    width:28%;
}


.score_font_size
{
    display: block;
    margin-top: 43%;
    
    text-shadow:
    -1px -1px 0 #e2dd93,
    1px -1px 0 #e2dd93,
    -1px 1px 0 #e2dd93,
    1px 1px 0 #e2dd93;  
}

#score_text
{
    display: block;
    padding-top: 31%;
    
    text-shadow:
    -1px -1px 0 #e2dd93,
    1px -1px 0 #e2dd93,
    -1px 1px 0 #e2dd93,
    1px 1px 0 #e2dd93;  
}

.score_center_img{
}

#score_publish
{
    margin: 0 auto;
}

#score_publish_facebook
{   
    float:left;
    background: url('../images/skor_facebook.png') no-repeat;
    background-size:contain;
}

#score_publish_twitter
{   
    float:right;
    background: url('../images/skor_twitter.png') no-repeat;
    background-size:contain;
}

.start_sceen_container
{
    background: rgba(0,0,0,0.7);
    position:absolute;
    width: 100%;
    z-index: 1000;
}

.start_screen_border
{
    border: 2px dashed white;
    width: 80%;
    height: 40%;
    margin: 30% auto 0;
}

.start_screen
{
    width: 100%;
    height: 100%;
    z-index:2000;
    background-image:url('../images/pattern.png');
    background-repeat:repeat;
    -moz-box-shadow: inset 0 0 0 4px #c8b694;
    -webkit-box-shadow: inset 0 0 0 4px #c8b694;
    box-shadow: inset 0 0 0 4px #c8b694;
}

.start_screen_logo
{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    padding-top: 2%;
}

.start_screen_logo img
{
    max-height: 100%;
    max-width: 100%;
}

.start_screen_connection_fail
{
    font-size: 1em;
}

.play_button_container
{
    border: 2px dashed black;
    width: 60%;
    height: 30%;
    margin: 7% auto;
    padding: 2% 2%;
    display: table;
    background-color: #63433c;
}
.play_button_container_selected
{
    background-color: #40231d;
}

.play_button_inner
{
    margin: 0 auto;
    border: 1px solid black;
    display: table-cell;
    vertical-align: middle;
    
    background: #c9a28f; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9a28f 0%, #c9a28f 50%, #be9380 50%, #be9380 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9a28f), color-stop(50%,#c9a28f), color-stop(50%,#be9380), color-stop(100%,#be9380)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c9a28f 0%,#c9a28f 50%,#be9380 50%,#be9380 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c9a28f 0%,#c9a28f 50%,#be9380 50%,#be9380 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c9a28f 0%,#c9a28f 50%,#be9380 50%,#be9380 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c9a28f 0%,#c9a28f 50%,#be9380 50%,#be9380 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a28f', endColorstr='#be9380',GradientType=0 ); /* IE6-9 */
}

.play_button_inner_selected
{
    background: #7d594c; /* Old browsers */
    background: -moz-linear-gradient(top,  #7d594c 0%, #7d594c 50%, #785346 50%, #785346 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d594c), color-stop(50%,#7d594c), color-stop(50%,#785346), color-stop(100%,#785346)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7d594c 0%,#7d594c 50%,#785346 50%,#785346 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7d594c 0%,#7d594c 50%,#785346 50%,#785346 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7d594c 0%,#7d594c 50%,#785346 50%,#785346 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7d594c 0%,#7d594c 50%,#785346 50%,#785346 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d594c', endColorstr='#785346',GradientType=0 ); /* IE6-9 */
}

#repeat_button
{
    background-color: #982c1f;
    margin: 5% auto 0;
    border: 1px dashed black;
    -border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#repeat_button_inner
{
    width: 85%;
    height: 85%;
    border: 1px solid black;
    -border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: relative;
    top: 8%;
    margin: 0 auto 0;
    background-color: #cf6830;
    display: table;
}

#repeat_button_text
{
    display: table-cell;
    vertical-align: middle;
    font-family:kelimematik;
    color:#000;
    text-shadow:
    -1px -1px 0 #e8dcc0,
    1px -1px 0 #e8dcc0,
    -1px 1px 0 #e8dcc0,
    1px 1px 0 #e8dcc0; 
}
